Repository amber-lang/amber-lsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-fixme-phrase, cargo-clippy, cargo-fmt

find-fixme-phrase:
  name: Find FIXME phrase
  entry: bash -c 'git diff --cached --name-only --diff-filter=ACM | grep -E "\.(txt|js|ts|py|rs|go|java|c|cpp|sh)$" | xargs -r grep -l "FIXME" && exit 1 || exit 0'
  language: system
  description: Checks for the "FIXME" phrase in staged text files.

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt --check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

Changed fun name and added comments
  src/backend.rs
  src/files.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Add severity to diagnostic
  src/backend.rs
  src/files.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Improved debug logs
  src/analysis/alpha034/exp.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha040/exp.rs
  src/stdlib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Moved to newer version of tower lsp
  Cargo.toml
  src/analysis/alpha034/global.rs
  src/analysis/alpha034/stmnts.rs
  src/analysis/alpha035/global.rs
  src/analysis/alpha035/stmnts.rs
  src/analysis/alpha040/global.rs
  src/analysis/alpha040/stmnts.rs
  src/analysis/mod.rs
  src/backend.rs
  src/files.rs
  src/grammar/alpha034/semantic_tokens.rs
  src/grammar/alpha035/semantic_tokens.rs
  src/grammar/alpha040/semantic_tokens.rs
  src/main.rs
  src/paths.rs
  src/stdlib.rs
  tests/analysis/alpha034.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed test
  tests/analysis/alpha034.rs
  tests/analysis/snapshots/r#mod__analysis__alpha034__variable_definition-2.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Changed paths
  tests/analysis/alpha034.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Bumped version to 0.1.4-alpha
  Cargo.toml
Due: none

Added analysis awaits
  src/backend.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated snapshot
  tests/grammar/snapshots/r#mod__grammar__alpha040__unfinished_function_call-2.snap
  tests/grammar/snapshots/r#mod__grammar__alpha040__unfinished_function_call.snap
Due: none

Added missing doc comment analysis
  src/analysis/alpha040/stmnts.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Created code coverage scripts
  .github/workflows/quality-check.yml
  .gitignore
  README.md
  Tarpaulin.toml
  run_coverage.ab
Due: none

Changed shell
  .github/workflows/quality-check.yml
Due: none

Added bc to installation step
  .github/workflows/quality-check.yml
Due: none

Change installation commands
  .github/workflows/quality-check.yml
Due: none

Removed sudo
  .github/workflows/quality-check.yml
Due: none

Moved to local amber install
  .github/workflows/quality-check.yml
Due: none

Added installation dir to $PATH
  .github/workflows/quality-check.yml
Due: none

Improved script and ci
  .github/workflows/quality-check.yml
  run_coverage.ab
Due: none

Fixed README links
  README.md
Due: none

Lowered down code coverage requirement
  Tarpaulin.toml
Due: none

Added codecov secret
  .github/workflows/quality-check.yml
Due: none

Created codecov.io config
  Tarpaulin.toml
  codecov.yml
Due: none

Changed config branch
  codecov.yml
Due: none

Added code coverage info in README
  README.md
Due: none

Moved to amber image
  .github/workflows/quality-check.yml
Due: none

Refactor cover job
  .github/workflows/quality-check.yml
Due: none

Added docker:// prefix
  .github/workflows/quality-check.yml
Due: none

Fixed typo
  .github/workflows/quality-check.yml
Due: none

Moved to building script
  .github/workflows/quality-check.yml
Due: none

Updated codecov config
  codecov.yml
Due: none

Fixed parsing numbers
  src/grammar/alpha034/expressions/atom/number.rs
  src/grammar/alpha035/expressions/atom/number.rs
  src/grammar/alpha040/expressions/atom/number.rs
  tests/grammar/alpha034.rs
  tests/grammar/snapshots/r#mod__grammar__alpha034__number-4.snap
  tests/grammar/snapshots/r#mod__grammar__alpha034__number-5.snap
  tests/grammar/snapshots/r#mod__grammar__alpha034__number-6.snap
  tests/grammar/snapshots/r#mod__grammar__alpha034__number-7.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added better errors for functions
  src/analysis/alpha034/exp.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha040/exp.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added comma at the end of the sentences
  src/analysis/alpha034/exp.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha040/exp.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Created release vscode package pipeline and fixed clippy issues
  .github/workflows/release.yml
  clients/vscode/package.json
  clients/vscode/package_vscode_ext.ab
  clients/vscode/src/extension.ts
  src/analysis/alpha034/exp.rs
  src/analysis/alpha034/global.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha035/global.rs
  src/analysis/alpha035/stmnts.rs
  src/analysis/alpha040/exp.rs
  src/analysis/alpha040/global.rs
  src/analysis/alpha040/stmnts.rs
  src/analysis/mod.rs
  src/analysis/types.rs
  src/grammar/alpha034/expressions/atom/number.rs
  src/grammar/alpha035/expressions/atom/number.rs
  src/grammar/alpha040/expressions/atom/number.rs
  tests/grammar/alpha040.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed typo
  clients/vscode/package_vscode_ext.ab
Due: none

Bumped version
  Cargo.toml
  clients/vscode/src/extension.ts
Due: find-fixme-phrase

Updated Running LSP docs section
  README.md
Due: none

Changed stdlib directory
  src/analysis/alpha040/exp.rs
  src/analysis/alpha040/global.rs
  src/backend.rs
  src/stdlib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Removed temp dir completly
  src/stdlib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Path conditions:
  find-fixme-phrase: any of: \.(txt|js|ts|py|rs|go|java|c|cpp|sh)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
