Repository amber-lang/amber-lsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-fixme-phrase, cargo-clippy, cargo-fmt

find-fixme-phrase:
  name: Find FIXME phrase
  entry: bash -c 'git diff --cached --name-only --diff-filter=ACM | grep -E "\.(txt|js|ts|py|rs|go|java|c|cpp|sh)$" | xargs -r grep -l "FIXME" && exit 1 || exit 0'
  language: system
  description: Checks for the "FIXME" phrase in staged text files.

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt --check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

Added openspec configs to gitignore
  .gitignore
  Cargo.lock
Due: none

Specified rustc version
  .github/workflows/quality-check.yml
  Cargo.toml
Due: none

Fixed pipeline
  .github/workflows/quality-check.yml
Due: none

Specified toolchain
  .github/workflows/quality-check.yml
Due: none

Improved analysis and added more tests
  resources/alpha050/std/array.ab
  resources/alpha050/std/date.ab
  resources/alpha050/std/env.ab
  resources/alpha050/std/fs.ab
  resources/alpha050/std/http.ab
  resources/alpha050/std/math.ab
  resources/alpha050/std/text.ab
  src/analysis/alpha050/exp.rs
  src/stdlib.rs
  tests/analysis/alpha050.rs
  tests/analysis/mod.rs
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_array_literal-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_array_literal-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_array_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_text_literal-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_text_literal-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_text_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__number_compared-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__number_compared-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__number_compared.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__simple_function-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__simple_function-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__simple_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__two_generics_compared-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__two_generics_compared-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__two_generics_compared.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_array.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_date.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_env.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_fs.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_http.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_math.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_text-2.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_text.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated stdlib
  resources/alpha050/std/array.ab
Due: none

Updated test snapshot
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_array.snap
Due: none

Replaced old pipeline tool
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
Due: none

Added nightly flag
  .github/workflows/quality-check.yml
Due: none

Added nightly rust
  .github/workflows/quality-check.yml
Due: none

Added build for tests step
  .github/workflows/quality-check.yml
Due: none

Testing coverage pipeline
  .github/workflows/quality-check.yml
  codecov.yml
Due: none

renamed config file
  .tarpaulin.toml
Due: none

Specified coverage file
  .github/workflows/quality-check.yml
Due: none

Bumped codecov action
  .github/workflows/quality-check.yml
Due: none

Changed then handler to exited
  src/analysis/alpha050/exp.rs
  src/analysis/alpha050/stmnts.rs
  src/grammar/alpha050/mod.rs
  src/grammar/alpha050/semantic_tokens.rs
  src/grammar/alpha050/statements/failable_handlers.rs
  tests/grammar/alpha050.rs
  tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

WIP recursion
  src/analysis/alpha050/global.rs
  tests/analysis/alpha050.rs
  tests/analysis/recursion_ackermann.ab
  tests/analysis/recursion_array.ab
  tests/analysis/recursion_factorial.ab
  tests/analysis/recursion_fibonacci.ab
  tests/analysis/recursion_mutual.ab
  tests/analysis/recursion_post_order.ab
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed recursion, needs hoisting
  src/analysis/alpha050/global.rs
  src/analysis/types.rs
  tests/analysis/snapshots/r#mod__analysis__alpha050__recursion_ackermann.snap.new
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed int num comparisons and deafult argument types
  resources/alpha050/std/array.ab
  src/analysis/alpha034/exp.rs
  src/analysis/alpha034/global.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha035/global.rs
  src/analysis/alpha040/exp.rs
  src/analysis/alpha040/global.rs
  src/analysis/alpha050/exp.rs
  src/analysis/alpha050/global.rs
  src/analysis/mod.rs
  src/analysis/types.rs
  src/grammar/alpha050/parser.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated snapshots
  tests/analysis/snapshots/r#mod__analysis__alpha034__function_definition-8.snap
  tests/analysis/snapshots/r#mod__analysis__alpha034__generics_reference-4.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_array_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_text_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__number_compared.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__simple_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__two_generics_compared.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_array.snap
Due: none

Added test for complext function
  tests/analysis/alpha050.rs
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated snapshots
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function-3.snap
Due: none

Changed then handler to exited (#95)
  resources/alpha050/std/array.ab
  src/analysis/alpha034/exp.rs
  src/analysis/alpha034/global.rs
  src/analysis/alpha035/exp.rs
  src/analysis/alpha035/global.rs
  src/analysis/alpha040/exp.rs
  src/analysis/alpha040/global.rs
  src/analysis/alpha050/exp.rs
  src/analysis/alpha050/global.rs
  src/analysis/alpha050/stmnts.rs
  src/analysis/mod.rs
  src/analysis/types.rs
  src/grammar/alpha050/mod.rs
  src/grammar/alpha050/parser.rs
  src/grammar/alpha050/semantic_tokens.rs
  src/grammar/alpha050/statements/failable_handlers.rs
  tests/analysis/alpha050.rs
  tests/analysis/snapshots/r#mod__analysis__alpha034__function_definition-8.snap
  tests/analysis/snapshots/r#mod__analysis__alpha034__generics_reference-4.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_array_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__comparison_with_text_literal.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__number_compared.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__simple_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__two_generics_compared.snap
  tests/grammar/alpha050.rs
  tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
  tests/grammar/snapshots/r#mod__grammar__alpha050__stdlib_array.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Bumped version
  Cargo.lock
  Cargo.toml
  clients/vscode/package.json
  clients/vscode/src/extension.ts
Due: find-fixme-phrase

Add display for command modifier
  lib/src/grammar/alpha040/mod.rs
  lib/src/grammar/mod.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Can parse files without error
  formatter/src/alpha040/mod.rs
  formatter/src/lib.rs
  formatter/src/main.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Function parsing
  formatter/src/alpha040/mod.rs
  formatter/src/lib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed bugs in 0.5.0-alpha amber version
  clients/vscode/amber.tmLanguage.json
  src/analysis/alpha050/global.rs
  src/analysis/alpha050/stmnts.rs
  src/grammar/alpha050/mod.rs
  src/grammar/alpha050/semantic_tokens.rs
  src/grammar/alpha050/statements/failable_handlers.rs
  tests/analysis/alpha050.rs
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers.snap
  tests/grammar/alpha050.rs
  tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Update clients/vscode/amber.tmLanguage.json
  clients/vscode/amber.tmLanguage.json
Due: none

Fixed bugs in 0.5.0-alpha amber version (#98)
  clients/vscode/amber.tmLanguage.json
  src/analysis/alpha050/global.rs
  src/analysis/alpha050/stmnts.rs
  src/grammar/alpha050/mod.rs
  src/grammar/alpha050/semantic_tokens.rs
  src/grammar/alpha050/statements/failable_handlers.rs
  tests/analysis/alpha050.rs
  tests/analysis/snapshots/r#mod__analysis__alpha050__complex_function.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers-2.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers-3.snap
  tests/analysis/snapshots/r#mod__analysis__alpha050__failure_handlers.snap
  tests/grammar/alpha050.rs
  tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Bumped version to 0.1.12
  Cargo.lock
  Cargo.toml
  clients/vscode/package.json
  clients/vscode/src/extension.ts
Due: find-fixme-phrase

Fix fragment remove method implementations
  formatter/src/lib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Use file content for text type
  formatter/src/alpha040/mod.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed image in vscode marketplace and syntax highlight on hover
  Cargo.lock
  Cargo.toml
  clients/vscode/README.md
  clients/vscode/package.json
  clients/vscode/src/extension.ts
Due: find-fixme-phrase

Path conditions:
  find-fixme-phrase: any of: \.(txt|js|ts|py|rs|go|java|c|cpp|sh)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
